
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
   /* dark/light theme */
  
  body {
    font-family: 'Roboto', sans-serif;
  }

 :root{
    --primary-color: #f9f9f9;
    --sidebar-bg: white;
    --material-icons-color: rgb(100, 100, 100);
    --navHover: #e5e5e5;
    --navActive: #e5e5e5;
    --text-color: rgb(3, 3, 3);
    --spanText: rgb(96,96, 96);
    --crossicon:#000;
    --search-bg: white;
    --placeholder: #000;
 }
  /* header section*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 15px;
    background-color: var(--sidebar-bg);
    --search-bg:transparent;
  }
  main {
    height: calc(100vh - 70px);
    display: flex;
    background-color: var( --primary-color);
  }
  /* Sidebar */ 
.side-bar {
    height: 100%;
    width: 24%;
    background-color: var( --sidebar-bg);
    overflow-y: hidden;
  } 
  @media (max-width: 768px) {
    .side-bar {
      display: none;
    }
  }

  .left {
    display: flex;
    align-items: center;
   }
   
   .left #menu {
    padding: 0 7px;
    cursor: pointer;
   }

   .search {
    display: flex;
   }
   
   .search form {
    display: flex;
    border: 1px solid #ddd;
    height: 45px;
    /* border-radius: 20px; */
    /* width: 590px; */
   }

   .search input {
    width: 600px;
    padding:10px;
    border: 0;
    height: 100%;
    background-color: var(--search-bg);
    /* border-radius: 20px; */
  }
  
  input:focus {
    outline: none;
    border: 1px solid #ddd;
  }
  .search button {
    height: 100%;
    width: 60px;
    border: none;
    background-color: var(--primary-color);
    /* border-top-right-radius: 20px;
    border-bottom-right-radius: 20px; */
  }
   
  .mic {
    margin-top: 10px;
  }
  .material-icons {
    color: var(--material-icons-color);
    padding: 0 7px;
    cursor: pointer;
  }

  .nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .nav-link {
    display: flex;
    align-items: center;
    padding: 12px 25px;
  }
  
 .nav-link span {
    margin-left: 15px;
  }
  
 .nav-link:hover {
    background: var(--navHover);
    cursor: pointer;
  }
 
 .active {
    background: var(--navActive);
 }

 hr {
    height: 1px;
    background-color: #e5e5e5;
    border: none;
  }

  .content {
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
    padding: 15px 15px;
    border-top: 1px solid #ddd;
    overflow-y: scroll;
  }
  
  .videos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .video {
    width: 235px;
    margin-bottom: 30px;
  }

  .thumbnail {
    width: 100%;
    height: 146px;
  }
  
  .thumbnail img {
    object-fit: cover;
    height: 94%;
    width: 100%;
    border-radius: 5px;
  }
  .author img {
    object-fit: cover;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
  }
  .details {
    display: flex;
  }
   
  .title {
    display: flex;
    flex-direction: column;
  }
   
  .title h3 {
    color: var(--text-color);
    line-height: 18px;
    font-size: 14px;
    margin-bottom: 6px;
  }
   
  .title a,
  span {
    text-decoration: none;
    color: var(--spanText);
    font-size: 12px;
  }

  @media (max-width: 768px) {
    .side-bar {
      display: none;
    }
    .search {
      display: none;
    }
}
@media (max-width: 900px) {
    .search input {
      width: 25rem;
    }
  }


  .search-container {
    position: relative;
  }

  .search-container input[type="text"] {
    padding-right: 35px;
  }

  .search-container .icon {
    position: absolute;
    right: 101px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--crossicon);
    display: none;
  }

  .search-container input[type="text"]:focus + .icon {
    display: block;
  }

 
  [data-theme="dark"] {
    --primary-color: #252525;
    --sidebar-bg: #252525;
    --material-icons-color: rgb(237, 237, 237);
    --navHover: #3a3a3a;
    --navActive: #5c5454;
    --text-color: rgb(253, 252, 252);
    --spanText: rgb(255, 255, 255);
    --crossicon:#fef9f9;
    --placeholder: #fff;
}


/*slider switch css */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  
  
}
.theme-switch {
  display: inline-block;
  height: 26px;
  position: relative;
  width: 50px;
  margin-top: 30px;
  margin-left: 25px;
}

.theme-switch input {
  display:none;
}
input::placeholder{
  color: var(--placeholder);
}
.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 2px;
  content: "";
  height: 22px;
  left: 2px;
  position: absolute;
  transition: .4s;
  width: 22px;
}

input:checked + .slider {
  background-color: #e1fa54;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}